.content {
    text-align: -webkit-center;
    // background-color: var(--pi-light-yellow);
    padding: 3% 0 3% 0;
}
table.mat-table {
    width: 90%;
    text-align: center;
    border-radius: var(--pi-border-radius) !important;
}
th.mat-header-cell {
    text-align: center;
    background-color: var(--pi-light-green);
    color: var(--pi-purple);
}
.text {
    width: 50%;
}
td.mat-cell {
    padding-top: 1%;
    padding-bottom: 1%;
}
.icon {
    margin-right: 2%;
    width: 30px;
}
.icon:hover {
    filter: contrast(0.5);
    cursor: pointer;
}
@media (max-width: 700px) {
    th.mat-header-cell, tr.mat-header-row {
        display: none;
    }
    table,
    tbody,
    tr,
    td {
        display: block;
        width: 100%;
    }
    table.mat-table {
        width: 100%;
    }
    tr.mat-row {
        margin-top: 3%;
        height: auto;
        width: 90vw;
        margin-left: 5%;
    }
    td {
        text-align: right;
        text-align: right;
        position: relative;
    }
    td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        text-align: left;
    }
    .text {
        width: auto;
    }
    td.mat-cell:first-of-type {
        padding-left: 0;
    }
}
