.content {
    text-align: -webkit-center;
}
.podcasts {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 3% 0;
}
mat-card {
    border: solid 1px var(--pi-dark-aqua);
    margin: 1%;
    flex-grow: 1;
    color: var(--pi-purple);
    display: flex;
}
audio {
    width: 90%;
}


.left {
    width: 15%;
}
.right {
    width: 85%;
}
img {
    width:7rem;
}

@media (max-width: 700px) {
    img {
        width:3rem;
    }
    .podcasts {
        width: 90%;
    }
}

@media (min-width: 700px) and (max-width: 900px) {
    img {
        width:6rem;
    }   
}