.content {
    text-align: -webkit-center;
}
.podcasts {
    display: flex;
    flex-direction: column;
    width: 70%;

}
mat-card {
    border: solid 1px var(--pi-dark-aqua);
    margin: 1%;
    flex-grow: 1;
    color: var(--pi-purple);
    display: flex;
}
audio {
    width: 90%;
}


.left {
    width: 15%;
}
.right {
    width: 85%;
}
img {
    width:7rem;
}