.content {
    text-align: -webkit-center;
   // background-color: var(--pi-light-yellow);
    padding: 3% 0 3% 0;
}
table.mat-table {
    width: 90%;
    text-align: center;
    border-radius: var(--pi-border-radius)!important;
}
th.mat-header-cell {
    text-align: center;
    background-color: var(--pi-green);
    color: var(--pi-white);
}
.text {
    width: 50%;
}
td.mat-cell {
    padding-top: 1%;
    padding-bottom: 1%;
}
.icon {
    margin-right: 2%;
    width: 30px;
}
.icon:hover {
    filter: contrast(0.5);
    cursor: pointer;
}