<div class="content">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

        <!-- Experience Column -->
        <ng-container matColumnDef="experience">
            <th mat-header-cell *matHeaderCellDef> EXPERIENCIA </th>
            <td mat-cell class="text" *matCellDef="let element"> {{element.text}} </td>
        </ng-container>

        <!-- Image Column -->
        <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef> IMAGEN </th>
            <td mat-cell *matCellDef="let element"><img  src="{{element.image}}" alt=""></td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> ACCIONES </th>
            <td mat-cell *matCellDef="let element"> 
                <img src="../../../assets/actions/no.svg" class="icon" alt="">    
                <img src="../../../assets/actions/yes.svg" class="icon" alt="">    
            </td>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>