<div class="content">
    <div class="form">
        <mat-card>
            <div class="form-header">
                <h1>Si querés colaborar, dejanos tus datos y nos ponemos en contacto</h1>
            </div>
            <form [formGroup]="requestForm">
                <div class="inputs">
                    <div class="fullname input-group">
                        <div class="input">
                            <label for="name">Nombre</label>
                            <input formControlName="name" type="text" id="name">
                        </div>
                        <div class="input">
                            <label for="lastname">Apellido</label>
                            <input formControlName="lastname" type="text" id="lastname">
                        </div>
                    </div>
                    <div class="contact input-group">
                        <div class="input">
                            <label for="email">Correo electrónico</label>
                            <input formControlName="email" type="text" id="email">
                        </div>
                        <div class="input">
                            <label for="phone">Teléfono</label>
                            <input formControlName="phone" type="text" id="phone">
                        </div>
                    </div>
                </div>
                <label for="why">Contanos por qué te gustaría formar parte:</label>
                <textarea formControlName="why" name="" id="why" cols="30" rows="10"></textarea>
                <label for="how">Contanos cómo pensás que podrías colaborar:</label>
                <textarea formControlName="how" name="" id="how" cols="30" rows="10"></textarea>
                <button class="btn cancel" mat-raised-button (click)="openConfirmPopUp('cancelar el envio de')">Cancelar</button>
                <button class="btn send" mat-raised-button (click)="send()">Enviar</button>
            </form>
        </mat-card>
    </div>
</div>