.content {
    display: flex;
   // background-color: var(--pi-light-yellow);
    justify-content: center;
}

.column {
    flex-basis: 30vw;
    flex-grow: 1;
    text-align: center;
    margin-left: 2%;
}

li {
    list-style: none;
}

.form {
    flex-basis: 70vw;
    margin: 2% 0 2% 0;
}
textarea {
    width: 95%;
    margin-bottom: 2%;
}
.inputs {
    display: flex;
    justify-content: space-around;
}
.input-group {
    display: inline-grid;
    text-align: end;
}

.cancel {
    margin-right: 5.5%;
}
label {
    margin-right: 5px;
}

@media (max-width: 700px) {
    .form {
        flex-basis: 90vw;
    }
    .inputs {
        flex-direction: column;
    }
    .input-group {
        text-align: start;
    }
    .input {
        display: contents;
    }
}