.content {
    text-align: -webkit-center;
}
.workshops {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 2em 0 0 0;
    padding-bottom: 2em;
}
mat-card {

    border: solid 1px var(--pi-dark-aqua);
    margin: 1%;
    flex-grow: 1;
    color: var(--pi-purple);
}
video {
    width: 80%;
}