.content {
    text-align: -webkit-center;
}
.workshops {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 2em 0 0 0;
    padding-bottom: 2em;
}
mat-card {

    border: solid 1px var(--pi-dark-aqua);
    margin: 1%;
    flex-grow: 1;
    color: var(--pi-purple);
}
video {
    width: 80%;
}
.spinner {
    width: 100%;
    background-color: var(--vetbook-light-primary);
    position: absolute;
    z-index: 999;
    filter: opacity(0.8);
    text-align: center;
    vertical-align: center;
}

mat-spinner {
    position: absolute;
    margin-left: 50%;
    margin-top: 15%;
}

.spinner ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
    stroke: var(--pi-light-green);
}