<div class="content">
    <mat-card>
        <div class="form-header">
            <h1>Ingresá tus datos</h1>
        </div>
        <form [formGroup]="loginForm" action="">
            <label for="username">Nombre de usuario</label><br>
            <input formControlName="username" type="text" name="" id="username"><br>
            <label for="password">Contraseña</label><br>
            <input formControlName="password" type="password" name="" id="password"><br>

            <button class=" btn send" mat-raised-button (click)="login()">Iniciar sesión</button>
        </form>
    </mat-card>
</div>