.content {
    background-image: url("../../../assets/backgrounds/login.png");
    background-size: cover;
    height: 90vh;
    padding: 5% 0 5% 0;
    display: flex;
    justify-content: center;
}
mat-card {
    flex-basis: 20%;
    height: 34vh;
    text-align: center;
}

.btn {
    margin-bottom: 5%;
}
.cancel {
    margin-right: 5.5%;
}
form {
    margin-top: 2em;
}

@media (max-width: 700px) {
    .content {
        background-image: url("../../../assets/backgrounds/login-mobile.png");
        background-position-x: center;
        padding-top: 2%;
    }
    mat-card {
        flex-basis: 85%;
        height: 32vh;
    }
    form {
        margin-top: 1em;
    }
}