.content {
    display: flex;
    background-color: var(--pi-light-dark-aqua);
}

.column {
    flex-basis: 30vw;
    flex-grow: 1;
    text-align: center;
    margin-left: 2%;
}

li {
    list-style: none;
}

.form {
    flex-basis: 70vw;
    flex-grow: 1;
    margin: 2% 2% 0 0;
}
mat-card {
    text-align: -webkit-center;
}
textarea {
    width: 95%;
}
.inputs {
    display: flex;
    justify-content: space-around;
}
.input-group {
    display: inline-grid;
}

.btn {
    width: 45%;
}
.cancel {
    margin-right: 5.5%;
}