<img src={{currentImg}} alt="">

<div class="content">
    <mat-card class="description">
   
        <p>Existen numerosas investigaciones que dan cuenta del impacto de las condiciones de crianza en el desarrollo de los niños y niñas. De allí la importancia de potenciar las habilidades familiares para estimular ese desarrollo, especialmente en los contextos más vulnerables.
            Durante los primeros años de vida se sientan las bases de la salud, el bienestar y el aprendizaje futuro de los niños y niñas. El rol de la familia es fundamental para acompañar y estimular esta etapa de la vida. 
            Es por ello que desarrollamos acciones que lleguen a las familias en forma de recursos e información sobre temáticas centrales de la crianza, en una retroalimentación positiva sobre sus propias prácticas de crianzay de cuidado.
        </p>

        <h3>Los objetivos</h3>

        <ul>
            <li>Brindar a las familias recursos para la estimulación de sus hijas/os pequeña/os</li>
            <li>Favorecer el desarrollo temprano de niñas/os</li>
            <li>Capacitar a los equipos de atención primaria y actores de la comunidad en el desarrollo de la primera infancia</li>
        </ul>

        <h3>¿QUE HACEMOS EN LOS TALLERES DE CRIANZA?</h3>

        <p>Acercamos a la familia información actualizada, en un lenguaje sencillo y con apoyo visual de la crianza,
            los cuidados y la salud, para potenciar el desarrollo cognitivo y de los niños y niñas en la primera infancia. 
            A través del juego y bajo una modalidad taller, recorremos juntos el desafío de fortalecer día día el desarrollo 
            de los niños y niñas.
        </p>
</mat-card>
</div>