
  
img {
    width: 100%;
}
.content {
    position: relative;
    padding: 1% 0 1% 0;
    width: 100%;
    height: auto;
    margin: -4px;
}
.description {
    text-align: justify;
    background-color: white;
    margin: 5% 15%;
    width: 70%;
    padding: 0.5% 1%;
    border-radius: var(--pi-border-radius);
}

.description p {
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--pi-purple);
}

.description h3 {
    font-size: 2rem;
}

ul li {
    font-size: 1.5rem;
}

@media (max-width: 700px) {
    .description {
        margin: 5% 5%;
        width: 90%;
    }
}
