footer {
    background-image: url("../../../assets/backgrounds/footer-background.png");
    background-size: cover;
    height: 25vh;
}
.logos {
    display: flex;
    justify-content: space-around;
}
.logo {
    width: 10rem;
    margin-top: 10vh;
}