footer {
    background-image: url("../../../assets/backgrounds/footer-background.png");
    background-size: cover;
    height: 25vh;
}
.logos {
    display: flex;
    justify-content: space-around;
}
.logo {
    width: 15rem;
    margin-top: 7vh;
}
.dev {
    text-align: center;
    margin-top: 1.8%;
}
.dev p {
    font-size: larger;
}