.content-form {
    width: 30vw;
    text-align: center;
}
.buttons {
    display: flex;
    justify-content: space-around;
}
.form-part input {
    width: 90%;
}
.form-part textarea {
    width: 90%;
}