.content {
    display: flex;
    justify-content: center;
}

//ENCUESTA FORMULARIO
.column {
    flex-basis: 30vw;
    flex-grow: 1;
    text-align: center;
    margin-left: 2%;
}
textarea {
    width: 95%;
}
//LISTADO
.list {
    flex-basis: 70vw;
    margin: 2% 0 2% 0;
}

.btn {
    margin-bottom: 5%;
}
.cancel {
    margin-right: 5.5%;
}
input {
    margin-bottom: 0;
}
.card {
    text-align: center;
}

@media (max-width: 700px) {
    .list {
        flex-basis: 90vw;
    }
}