<div class="content">
    <div class="list">
        <mat-card class="inqiry">
            <div class="form-header">
                <h1>Contanos tu experiencia</h1>
            </div>
            <form [formGroup]="experienceForm" action="">
                <textarea formControlName="text" name="" id="" cols="30" rows="10"></textarea>
                <input type="file" formControlName="image"><br>
                <button class="btn cancel" mat-raised-button>Cancelar</button>
                <button class=" btn send" mat-raised-button>Enviar</button>
            </form>
            <div class="form-header">
                <h1>Experiencias</h1>
            </div>
            <div *ngFor="let e of experiences">
                <p>{{e.text}}</p>
                <img src="{{e.image}}" alt="">
                <mat-divider></mat-divider>
            </div>
        </mat-card>
    </div>
</div>