.download {
    background-color: var(--pi-yellow);
    color: var(--pi-black);
}
.download:hover {
    background-color: var(--pi-light-yellow);
    cursor: pointer;
}
.icon {
    float: right;
    width: 30px;
}
.icon:hover {
    filter: contrast(0.5);
    cursor: pointer;
}
.image {
    text-align: center;
}
.image img {
    width: 95%;
}