.content {
    justify-content: center;
}
.tip {
    width: 70vw;
    margin: 2% 0 2% 15vw;
    padding: 2% 0;
    text-align: justify;
}
.text {
    width: 97%;
}
.text p {
    font-size: xx-large;
}
img {
    width: 50%;
    height: fit-content;
    margin: 0 2% 0 0;
    float: left;
}
.poll {
    width: 20vw;
    margin-left: 40vw;
    margin-bottom: 3%;
}
