// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "~@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primeraInfancia-primary: mat.define-palette(mat.$indigo-palette);
$primeraInfancia-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$primeraInfancia-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$primeraInfancia-theme: mat.define-light-theme(
    (
        color: (
            primary: $primeraInfancia-primary,
            accent: $primeraInfancia-accent,
            warn: $primeraInfancia-warn,
        ),
    )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($primeraInfancia-theme);

/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: linotte;
    src: url(./assets/fonts/LinotteRegular.otf) format("opentype");
}

@font-face {
    font-family: linotteBold;
    src: url(./assets/fonts/LinotteBold.otf) format("opentype");
}

:root {
    // -- COLORS -- //
    --pi-yellow: #ffd284;
    --pi-green: #7fcc99;
    --pi-pink: #ffa1a3;
    --pi-purple: #8c648d;
    --pi-aqua: #2ac3bd;
    --pi-dark-aqua: #00a79d;
    --pi-black: rgb(10 10 10);
    --pi-white: rgb(245 244 243);

    --pi-light-yellow: #fbe19e;
    --pi-light-green: #aed4ac;
    --pi-light-pink: #f2bbbc;
    --pi-light-purple: #9f80a2;
    --pi-light-aqua: #8ecbcc;
    --pi-light-dark-aqua: #67b3ae;

    --pi-nav-height: 50px;
    --pi-border-radius: 5px;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    color: var(--pi-black);
}
* {
    font-family: linotte, sans-serif;
    color: var(--pi-light-purple);
}

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--pi-dark-aqua);
    border-radius: 40px;
}

.content {
    background-color: white;
    background-image: url("./assets/backgrounds/0a6.jpeg");
    background-position-x: right;
    background-size: auto;
    background-repeat-x: no-repeat;
    min-height: 60vh;
}
.hide {
    display: none;
}

mat-card {
    margin: 1%;
    text-align: center;
}
.btn {
    height: 10vh;
    border-radius: 50%;
    margin-top: 2%;
    color: var(--pi-white);
    font-size: 2vh;
    width: 10vh;
}

.send {
    background-color: var(--pi-light-green);
    color: var(--pi-purple);
}
.send:hover {
    background-color: var(--pi-green);
}
.cancel {
    background-color: var(--pi-purple);
    color: var(--pi-light-green);
}
.cancel:hover {
    background-color: var(--pi-light-purple);
}
.form-header {
    background-color: var(--pi-light-green);
    color: var(--pi-purple);
    text-align: center;
    border-radius: var(--pi-border-radius);
    width: 95%;
    margin-left: 2.5%;
    font-family: linotteBold, sans-serif;
}

.form-header h1 {
    margin: 0 0 1% 0;
}

input {
    height: 3vh;
    margin-bottom: 5%;
}
label {
    font-size: 1.3em;
}


app-add-icon {
    position: fixed;
    top: 3.5%;
    right: 0.5%;
    z-index: 99999;
}

app-welcome-pop-up {
    background-color: none!important;
}

app-fast-note {
    z-index: 999;
}