
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primeraInfancia-primary: mat.define-palette(mat.$indigo-palette);
$primeraInfancia-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$primeraInfancia-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$primeraInfancia-theme: mat.define-light-theme((
  color: (
    primary: $primeraInfancia-primary,
    accent: $primeraInfancia-accent,
    warn: $primeraInfancia-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($primeraInfancia-theme);

/* You can add global styles to this file, and also import other style files */
:root {
    // -- COLORS -- //
    --pi-yellow: #FFD284;
    --pi-green: #7FCC99;
    --pi-pink: #FFA1A3;
    --pi-purple: #8C648D;
    --pi-aqua: #2AC3BD;
    --pi-dark-aqua: #00A79D; 
    --pi-black: rgb(10 10 10);
    --pi-white: rgb(245 244 243);

    --pi-light-yellow: #FBE19E;
    --pi-light-green: #AED4AC;
    --pi-light-pink: #F2BBBC;
    --pi-light-purple: #9F80A2;
    --pi-light-aqua: #8ECBCC;
    --pi-light-dark-aqua: #67B3AE; 


    --pi-nav-height: 50px;
    --pi-border-radius: 5px;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
color: var(--pi-black);}

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--pi-dark-aqua);
    border-radius: 40px;
}

.content {
    background-color: white;
    background-image: url('./assets/backgrounds/0a6.jpeg');
    background-position-x: right;
    background-size: auto;
    background-repeat-x: no-repeat;
}
.hide {
    display: none;
}

mat-card {
    margin: 1%;
    text-align: center;
}
.btn {
    height: 4vh;
    border-radius: 5px;
    margin-top: 2%;
    color: var(--pi-white);
    
}

.send {
    background-color: var(--pi-green);
    width: 95%;
}
.send:hover {
    background-color: var(--pi-light-green);
    color: var(--pi-black);
}
.cancel {
    background-color: var(--pi-purple);
}
.cancel:hover {
    background-color: var(--pi-light-purple);
    color: var(--pi-black);
}
.form-header {
    background-color: var(--pi-green);
    color: var(--pi-white);
    text-align: center;
    border-radius: var(--pi-border-radius);
    width: 95%;
    margin-left: 2.5%;
}

.form-header h1 {
    margin: 0 0 1% 0;
}

input {
    height: 3vh;
    margin-bottom: 5%;
}
label {
    font-size: 1.3em;
}